*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(pngtree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

}

nav a:hover{
    background-color: rgba(128, 128, 128, 0.396);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 250px;   
    z-index: 999; /*sidebar to always be above of everything else*/
    background-color: rgba(255, 255, 255, 0.289);
    backdrop-filter: blur(10px); /*determines how tyhe elmt behind curr elmt will be rendered by browser*/
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

}